.btn {
	border-radius: 0;
}
/*--------------------------------------------------------------------- 
	CSS for Filter  
/* --------------------------------------------------------------------- */

/* Parent container */
#panel-container{
	position: fixed;
	width: 250px;
	top: 0px;
	left: -250px;
	transition: all 0.5s ease;
	height: 100%;
}

#panel-container.active{
	left: 0px;
}

/* Button close */
#panel-container .btn-show{
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: -26px;
	top: 5px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Filter content */
#filter-panel{
	background: #fff;
	padding: 5px;
	width: auto;
}

#message-filter{
	text-align: center;
	font-weight: bold;
	color: #999;
}

ul.list-group{
	max-height: 100%;
	overflow-y: auto;
	border: 1px solid #ddd;
	margin-bottom: 0;
	height: 100%;
}

ul.list-group li:hover{
	background: #eee;
}

ul.list-group li{
	border-radius: 0;
	border-left: none;
	border-right: none;
	position: relative;
}

ul.list-group li:first-child, .filter-content ul.list-group li:nth-child(2){
	border-top: none;
}

ul.list-group li:last-child{
	border-bottom: none;
}

ul.list-group li .color-label{
	display: inline-block;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 5px;
	border-radius: 50%;
	border: 1px solid #eee;
	box-sizing: border-box;
}


ul.list-group li label span, ul.list-group li label{
	float: left;
}

ul.list-group li:after{
	clear: both;
	content: "";
	display: block;
}

/* CSS action group*/
ul.list-group li .action-group{
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	display: none;
}

ul.list-group li:hover .action-group{
	display: inline-block;
}

#filter-panel .action-group .btn-remove{
	color: red;
}

#filter-panel .action-group .btn-edit{
	color: #09c;
	margin-right: 5px;
}

/* Filter filter-controls */
#filter-panel .filter-controls{
	margin-bottom: 15px;
	margin-top: 5px;
}

/*CSS for setting panel*/
#filter-panel .filter-content{
	position: relative;
	overflow: hidden;
}

#filter-panel .filter-content .setting-panel{
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	border: 1px solid #ddd;
	background: #fff;
	padding: 5px;
	transition: all 0.3s ease;
}

#filter-panel .filter-content .setting-panel.active{
	bottom: -100%;
	bottom: 0;
}
/* --------------------------------------------------------------------- 
	CSS for user list panel  
/* --------------------------------------------------------------------- */
#event-panel{
	background: #fff;
	padding: 5px;
	width: auto;
}

#event-panel{
	left: 5px;
}
/*#event-panel .event-content ul li > span{
	margin-top: 40%;
}*/
#event-panel .event-content{
	width: 100%;
	height: 100%;
}
#event-panel .event-content ul{
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	display: block;
}
#event-panel .event-content ul:not(:first-child){
	border-top: none;
}

#event-panel .event-content ul li .color-label{
	float: none;
	position: absolute;
	top: 20px;
	left: 15px;
}

#event-panel .event-content ul li .event-row{
	margin-left: 30px;
	display: inline-block;
}

#event-panel .event-content ul li:hover{
	cursor: pointer;
}

/* CSS for adding-filter-box*/
/*.adding-filter-box .modal-content{
	width: 90%;
}
*/
.adding-filter-box .modal-content{
	border-radius: 0;
}

.adding-filter-box .modal-content .modal-header{
	background: #337ab7;
	color: #fff;
}