/*----------------------------------------------------
* Filename: filter.js
* Author: Akademia
* Date: YYYY/MM/DD
* Description: filter css
* ----------------------------------------------------
*/
.btn {
	border-radius: 0;
}
/*--------------------------------------------------------------------- 
	CSS for Filter  
/* --------------------------------------------------------------------- */

/* Parent container */
#panel-container{
	position: fixed;
	width: 250px;
	top: 0px;
	left: -250px;
	transition: all 0.5s ease;
	height: 100%;
	z-index: 9999;
}

#panel-container.active{
	left: 0px;
}

/* Button close */
#panel-container .btn-show{
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: -26px;
	top: 5px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#panel-container .disable-panel.active{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(1,1,1,0.3);
	display: block;
}
#panel-container .disable-panel{
	display: none;
}
/* Filter content */
#filter-panel{
	background: #fff;
	padding: 5px;
	width: auto;
}

#message-filter{
	text-align: center;
	font-weight: bold;
	color: #999;
}

ul.list-group{
	max-height: 100%;
	overflow-y: auto;
	border: 1px solid #ddd;
	margin-bottom: 0;
	height: 100%;
}

ul.list-group li:hover{
	background: #eee;
}

ul.list-group li{
	border-radius: 0;
	border-left: none;
	border-right: none;
	position: relative;
}

ul.list-group li:first-child, .filter-content ul.list-group li:nth-child(2){
	border-top: none;
}

ul.list-group li:last-child{
	border-bottom: none;
}

ul.list-group li .color-label{
	display: inline-block;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 5px;
	border: 1px solid #eee;
	box-sizing: border-box;
}
/*CSS for color lable --------------------------- */
#filter-form .shape-btn .shape-item, #filter-form .shape-group .shape-item{
	box-sizing: border-box;
}
#filter-form .shape-btn .shape-item{
	display: block;
}
#filter-form .shape-group .shape-item{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.shape-item .glyphicon.glyphicon-play{
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}


ul.list-group li label span, ul.list-group li label{
	float: left;
}

ul.list-group li:after{
	clear: both;
	content: "";
	display: block;
}

ul.list-group li:hover{
	cursor: pointer;
}

/* CSS action group*/
ul.list-group li .action-group{
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	/*display: none;*/
}

ul.list-group li:hover .action-group, ul.list-group li:focus .action-group, ul.list-group li .action-group.active{
	display: inline-block;
}
#filter-panel .filter-content .filter-name{
	margin-left: 10px;
}

#filter-panel .action-group .btn-remove{
	color: red;
}

#filter-panel .action-group .btn-edit{
	color: #09c;
	margin-right: 5px;
}
/* Filter dialog*/
#filter-form .filterColor{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#filter-form .input-group-addon{
	padding: 6px 13px;
}

#filter-form .input-group-addon, #filter-form .form-control{
	border-radius: 0;
}

#filter-form .shape-btn{
	padding: 6px 6px;
}

#filter-form .shape-group a{
	cursor: pointer;
}

.datetimepicker{
	padding: 10px;
}

.validation-msg{
	color: red;
}

/* Filter filter-controls */
#filter-panel .filter-controls{
	margin-bottom: 15px;
	margin-top: 5px;
}

#filter-panel .filter-controls .btn-group{
	width: 100%;
}

#filter-panel .filter-controls .btn-group button{
	width: 50%;
}
.colorpicker-alpha {display:none !important;} .colorpicker{ min-width:128px !important;}
/*CSS for setting panel*/
#filter-panel .filter-content{
	position: relative;
	overflow: hidden;
}

#filter-panel .filter-content .setting-panel{
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	border: 1px solid #ddd;
	background: #fff;
	padding: 5px;
	transition: all 0.3s ease;
}

#filter-panel .filter-content .setting-panel.active{
	bottom: -100%;
	bottom: 0;
}
/* --------------------------------------------------------------------- 
	CSS for user list panel  
/* --------------------------------------------------------------------- */
#event-panel{
	background: #fff;
	padding: 5px;
	width: auto;
}

#event-panel{
	left: 5px;
}
/*#event-panel .event-content ul li > span{
	margin-top: 40%;
}*/
#event-panel .event-content{
	width: 100%;
	height: 100%;
}
#event-panel .event-content ul{
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	display: block;
}
#event-panel .event-content ul:not(:first-child){
	border-top: none;
}

#event-panel .event-content ul li .shape-item{
	float: none;
	position: absolute;
	top: 20px;
	left: 15px;
}

#event-panel .event-content ul li .event-row{
	margin-left: 30px;
	display: inline-block;
	font-size: 0.9em;
}

/* CSS for adding-filter-box*/
/*.adding-filter-box .modal-content{
	width: 90%;
}
*/
.adding-filter-box .modal-content{
	border-radius: 0;
}

.adding-filter-box .modal-content .modal-header{
	background: #337ab7;
	color: #fff;
}

/* CSS for alert panel*/
#modal-alert{
	position: fixed;
	bottom: 10px;
	right: 10px;
}